raspberrypi/nginx/certificates/*
raspberrypi/flask/myprojectenv/*
esp_32/http_request/build/*
esp_32/http_request/sdkconfig.old
esp_32/http_request/sdkconfig.defaults
raspberrypi/nginx/certificates/root/ca/serial.old
raspberrypi/nginx/certificates/root/ca/serial
raspberrypi/nginx/certificates/root/ca/private/ca.key.pem
raspberrypi/nginx/certificates/root/ca/openssl.cnf
raspberrypi/nginx/certificates/root/ca/notes
raspberrypi/nginx/certificates/root/ca/newcerts/1000.pem
raspberrypi/nginx/certificates/root/ca/intermediate/serial.old
raspberrypi/nginx/certificates/root/ca/intermediate/serial
raspberrypi/nginx/certificates/root/ca/intermediate/private/server.key.pem
raspberrypi/nginx/certificates/root/ca/intermediate/private/intermediate.key.pem
raspberrypi/nginx/certificates/root/ca/intermediate/private/client.key.pem
raspberrypi/nginx/certificates/root/ca/intermediate/openssl.cnf
raspberrypi/nginx/certificates/root/ca/intermediate/newcerts/1001.pem
raspberrypi/nginx/certificates/root/ca/intermediate/newcerts/1000.pem
raspberrypi/nginx/certificates/root/ca/intermediate/index.txt.old
raspberrypi/nginx/certificates/root/ca/intermediate/index.txt.attr.old
raspberrypi/nginx/certificates/root/ca/intermediate/index.txt.attr
raspberrypi/nginx/certificates/root/ca/intermediate/index.txt
raspberrypi/nginx/certificates/root/ca/intermediate/csr/server.csr.pem
raspberrypi/nginx/certificates/root/ca/intermediate/csr/intermediate.csr.pem
raspberrypi/nginx/certificates/root/ca/intermediate/csr/client.csr.pem
raspberrypi/nginx/certificates/root/ca/intermediate/crlnumber
raspberrypi/nginx/certificates/root/ca/intermediate/certs/server.cert.pem
raspberrypi/nginx/certificates/root/ca/intermediate/certs/intermediate.cert.pem
raspberrypi/nginx/certificates/root/ca/intermediate/certs/client.cert.pem
raspberrypi/nginx/certificates/root/ca/intermediate/certs/ca-chain.cert.pem
raspberrypi/nginx/certificates/root/ca/index.txt.old
raspberrypi/nginx/certificates/root/ca/index.txt.attr
raspberrypi/nginx/certificates/root/ca/index.txt
raspberrypi/nginx/certificates/root/ca/certs/root.p12
raspberrypi/nginx/certificates/root/ca/certs/ca.cert.pem
raspberrypi/nginx/etc/nginx/dhparam.pem
*.pem
*.p12
esp_32/http_request/main/clientkey_password
/Hardware/Expansion Board/ramn_telematics/ramn_telematics-backups
Hardware/Expansion Board/ramn_telematics/~ramn_telematics.kicad_sch.lck
Hardware/Expansion Board/ramn_telematics/fp-info-cache
Hardware/Expansion Board/ramn_telematics/\#auto_saved_files\#
Hardware/Expansion Board/ramn_telematics/untitled.kicad_sch
Hardware/Expansion Board/ramn_telematics/ramn_telematics.rpt
Hardware/Expansion Board/ramn_telematics/ramn_telematics.kicad_prl
Hardware/Expansion Board/ramn_telematics/ramn_telematics.csv
Hardware/Expansion Board/ramn_telematics/ramn_telematics-top.pos
Hardware/Expansion Board/ramn_telematics/ramn_telematics-top-pos.csv
Hardware/Expansion Board/ramn_telematics/ramn_telematics-PTH.drl
Hardware/Expansion Board/ramn_telematics/ramn_telematics-PTH-drl_map.gbr
Hardware/Expansion Board/ramn_telematics/ramn_telematics-NPTH.drl
Hardware/Expansion Board/ramn_telematics/ramn_telematics-NPTH-drl_map.gbr
Hardware/Expansion Board/ramn_telematics/ramn_telematics-job.gbrjob
Hardware/Expansion Board/ramn_telematics/ramn_telematics-F_Silkscreen.gbr
Hardware/Expansion Board/ramn_telematics/ramn_telematics-F_Paste.gbr
Hardware/Expansion Board/ramn_telematics/ramn_telematics-F_Mask.gbr
Hardware/Expansion Board/ramn_telematics/ramn_telematics-F_Cu.gbr
Hardware/Expansion Board/ramn_telematics/ramn_telematics-Edge_Cuts.gbr
Hardware/Expansion Board/ramn_telematics/ramn_telematics-bottom.pos
Hardware/Expansion Board/ramn_telematics/ramn_telematics-bottom-pos.csv
Hardware/Expansion Board/ramn_telematics/ramn_telematics-B_Silkscreen.gbr
Hardware/Expansion Board/ramn_telematics/ramn_telematics-B_Paste.gbr
Hardware/Expansion Board/ramn_telematics/ramn_telematics-B_Mask.gbr
Hardware/Expansion Board/ramn_telematics/ramn_telematics-B_Cu.zip
Hardware/Expansion Board/ramn_telematics/ramn_telematics-B_Cu.gbr
Hardware/Expansion Board/ramn_telematics/ramn_telematics.kicad_prl
